.menu-navbar{
    cursor: pointer;
}
.menu-salvar{
    margin-left: auto;
    
}
.menu-auth{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vh;
}

@media (max-width: 900px) {
    .collapse{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-auth{
        width: 70%;
    }
    .menu-salvar{
        margin: 0;
    }
}