
<div class="principal">

    <div class="row">
        <div class="col-xs-12">
            <img [src]="receita.imageUrl" class="img-responsive imagem" alt="">
        </div>
    </div>
    <div class="conteudo">

        <div class="row">
            <div class="col-xs-12">
                <h1>{{receita.nome}}</h1>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-xs-12">{{ receita.nome }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12">{{ receita.descricao }}</div>
        </div>
       <div class="row1">
           <h3>Ingredientes</h3>
           <ul>
               <li *ngFor="let ingrediente of receita.ingredientes">{{ ingrediente.nome }}</li>
           </ul>
       </div>
        <div class="row itens-receita">
            <div class="col-xs-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Gerenciar Receita <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-dark menu">
                        <li><a  class="dropdown-item" (click)="irParaEdicao()">Editar Receita</a></li>
                        <li><a  class="dropdown-item" (click)=" IrParaListadeCompras()">Enviar para a lista de Compras</a></li>
                        <li><a  class="dropdown-item">Adicionar Ingredientes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>